
/logs/*
/opt/*
*cfg
*.db
/DataEngineering.Labs.AirflowProject/*
*.pid
.idea/
.DS_Store
__pycache__
dags/airflow_tutorial_preeti01.py
dags/airflow_tutorial_preeti02.py
dags/hello_world.py
dags/atp_dag-04.py
test_files/
*.pem
*.amazonaws.com
.ipynb_checkpoints/
dags/atp_airflow_variables.json
jupyter_notebooks/.ipynb_checkpoints


